.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: steelblue;
}
.box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  background: whitesmoke;
}
.box h1 {
  margin: 1rem;
}
.btn {
  margin: 1rem;
}
.base {
  display: none;
}
.active {
  margin: 1rem;
}
.lat {
  margin: 1rem;
}
.lng {
  margin: 1rem;
}
